* {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 14vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0px 15px;
}

header .logo {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .logo img {
  width: 100%;
}

header .menu {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  z-index: 4;
  cursor: pointer;
  position: relative;
}

header .menu .bar {
  width: 40%;
  height: 5px;
  background-color: black;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

header .menu .bar::before {
  content: '';
  width: 40%;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 30%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

header .menu .bar::after {
  content: '';
  width: 40%;
  height: 5px;
  background-color: black;
  position: absolute;
  bottom: 30%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

header ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 30%;
  list-style: none;
  background-color: #e1eff6;
  text-align: center;
  top: 0;
  left: 0;
}

.open {
  height: 100vh;
  width: 100%;
  z-index: 4;
}

.open .menu {
  position: absolute;
  z-index: 4;
  width: 10%;
  top: 34px;
  right: 15%;
}

.open .menu .bar {
  background: transparent;
  position: absolute;
}

.open .menu .bar::before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  background-color: black;
  width: 12vw;
  height: 3px;
}

.open .menu .bar::after {
  width: 12vw;
  height: 3px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: black;
}

.open ul {
  display: block;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.open ul li {
  list-style: none;
  margin: 20px;
  text-align: left;
}

.open ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: "medium";
}

.open ul li .signup {
  background-color: white;
  font-size: 18px;
  padding: 8px;
  display: none;
}

.banner {
  background-color: #e1eff6;
  height: 100vh;
  width: 100%;
}

.banner .banner-items {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
}

.banner .banner-items .btext {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
}

.banner .banner-items .btext h1 {
  font-size: 18px;
  font-family: "monbold";
  padding: 20px 22px;
  text-align: center;
}

.banner .banner-items .btext .sign {
  width: 40%;
  text-decoration: none;
  font-size: 18px;
  font-family: "monbold";
  padding: 10px;
  border-radius: 8px;
  color: black;
  background-color: white;
  margin-top: 10px;
}

.banner .banner-items .btext .in {
  width: 50%;
  text-decoration: none;
  font-size: 18px;
  font-family: "monbold";
  padding: 10px  22px;
  border-radius: 8px;
  margin: 10px auto;
  color: black;
  background-color: white;
}

.banner .banner-items .bannerpic {
  width: 100%;
  position: relative;
}

.banner .banner-items .bannerpic img {
  width: 100%;
}

.banner .banner-items .bannerpic .txt {
  position: absolute;
  top: 70%;
  width: 70%;
  left: 14%;
  background-color: white;
  -webkit-box-shadow: 2px 4px 6px black;
          box-shadow: 2px 4px 6px black;
  border-radius: 10px;
  padding: 0px 20px;
}

.banner .banner-items .bannerpic .txt h3 {
  font-family: "monbold";
  font-size: 25px;
}

.banner .banner-items .bannerpic .txt p {
  font-size: 15px;
  font-family: "regular";
  padding: 0px;
}

.banner .banner-items .bannerpic .txt p span {
  font-size: 15px;
  font-family: "monbold";
}

.about {
  padding: 50px 30px;
  background-color: #e1eff6;
}

.about h2 {
  font-family: "regular";
  font-size: 20px;
}

.about .abt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
}

.about .abt .meet {
  width: 100%;
  margin: 40px auto;
  background-color: white;
  -webkit-box-shadow: 2px 4px 6px black;
          box-shadow: 2px 4px 6px black;
  padding: 30px 10px;
  border-radius: 20px;
}

.about .abt .meet h4 {
  font-size: 20px;
  font-family: "monbold";
  text-align: center;
}

.about .abt .meet #elly {
  position: relative;
  width: 100%;
  bottom: 54px;
  margin-bottom: -50px;
}

.about .abt .meet #found {
  position: relative;
  width: 100%;
  bottom: 54px;
  margin-bottom: -50px;
  -o-object-fit: contain;
     object-fit: contain;
  right: 2%;
}

.showcase {
  text-align: center;
  padding: 40px 0px;
}

.showcase h2 {
  font-family: "regular";
  font-size: 18px;
  margin: 15px auto;
}

.showcase .invent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0%;
}

.showcase .invent .alumni {
  position: relative;
}

.showcase .invent .alumni a {
  text-decoration: none;
  color: black;
  position: absolute;
  text-align: center;
  bottom: 32%;
  right: 36%;
  padding: 10px 15px;
  background-color: white;
  font-family: "monbold";
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 6px black;
          box-shadow: 2px 4px 6px black;
  text-shadow: 1px 1px black;
}

.showcase .invent .alumni p {
  font-family: "regular";
  font-size: 15px;
  padding: 20px 0px;
  margin-top: 30px;
  text-align: left;
}

.showcase .invent .alumni p span {
  font-family: "monbold";
  font-size: 15px;
}

.showcase .slider {
  width: 100%;
  margin: 100px auto;
}

.showcase .slick-slide {
  margin: 0px 0px;
}

.showcase .slick-slide img {
  width: 100%;
}

.showcase .slick-prev:before,
.showcase .slick-next:before {
  color: black;
}

.showcase .slick-slide {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  opacity: 0;
}

.showcase .slick-active {
  opacity: 1;
}

.showcase .slick-current {
  opacity: 1;
}

.joinfounder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: #e1eff6;
  padding: 20px;
}

.joinfounder img {
  width: 100%;
}

.joinfounder .founder {
  width: 100%;
  text-align: center;
}

.joinfounder .founder h3 {
  font-family: "medium";
  font-size: 25px;
}

.joinfounder .founder p {
  font-family: "regular";
  font-size: 15px;
}

.joinfounder .founder a {
  text-decoration: none;
  font-family: "regular";
  font-size: 15px;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-radius: 8px;
}

.joininvestor {
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.joininvestor .jointext {
  width: 100%;
  margin-bottom: 20px;
}

.joininvestor .jointext h2 {
  font-family: "medium";
  font-size: 22px;
  width: 100%;
}

.joininvestor .jointext p {
  font-family: "regular";
  font-size: 15px;
  margin-left: 10px;
}

.joininvestor .jointext a {
  text-decoration: none;
  color: white;
  background-color: black;
  font-family: "regular";
  font-size: 17px;
  padding: 8px 15px;
  border-radius: 8px;
}

.joininvestor .joinpic {
  width: 100%;
  margin-bottom: 20px;
}

.joininvestor .joinpic img {
  width: 100%;
}

.according {
  background-color: #e1eff6;
}

.according .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  margin: 0px auto;
}

.according .row h2 {
  text-align: center;
  font-family: "semibold";
  font-size: 17px;
  margin-bottom: 10px;
}

.according .left {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.according .right {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.according .accordion {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.according .accordion li {
  list-style-type: none;
  width: 100%;
  margin: auto;
  padding: 0;
}

.according .accordion-button {
  position: relative;
  display: block;
  margin: 10px auto;
  width: 100%;
  border: none;
  padding: 0.5em;
  background: #e1eff6;
  cursor: pointer;
}

.according .accordion-button h3 {
  font-size: 12px;
  color: black;
  font-family: "regular";
}

.according .accordion-button hr {
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 1;
  margin: auto 3px;
}

.according .accordion-button p {
  font-family: "light";
  font-size: 25px;
}

.according .accordion-button:before {
  content: '';
  position: absolute;
  right: 4%;
  top: 45%;
  height: 2px;
  width: 20px;
  margin-left: 5px;
  background: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.according .accordion-button:after {
  content: '';
  position: absolute;
  right: 4%;
  top: 45%;
  height: 2px;
  width: 20px;
  margin-left: 5px;
  background: black;
}

.according .accordion-button.active:after {
  background: black;
}

.according .accordion-button.active:before {
  -webkit-transform: rotate(-360deg) translateY(-20px);
          transform: rotate(-360deg) translateY(-20px);
  opacity: 0;
}

.according .accordion-button.active h2, .according .accordion-button:focus h2 {
  position: relative;
  color: black;
}

.according .accordion-panel {
  display: none;
  padding: 10px;
  background: #e1eff6;
  border-right: 1px solid #e1eff6;
  border-bottom: 1px solid #e1eff6;
  border-left: 1px solid #e1eff6;
  overflow: hidden;
}

.according .accordion-panel p {
  font-family: "light";
  font-size: 12px;
}

.according .accordion-panel img {
  display: block;
  max-width: 90%;
  margin: 5px auto;
}

.companies {
  padding: 60px 20px;
  background-color: #e1eff6;
  position: relative;
}

.companies .startups {
  background-color: white;
  padding: 50px 20px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 6px black;
          box-shadow: 2px 4px 6px black;
  width: 100%;
}

.companies .startups h2 {
  font-size: 13px;
  font-family: "medium";
  margin-bottom: 10px;
}

.companies .startups hr {
  background-color: black;
  opacity: 1;
  height: 2px;
  width: 100%;
  margin: 20px auto;
}

.companies .startups .barrow {
  position: absolute;
  display: none !important;
  bottom: 39%;
  left: 12%;
  width: 10%;
}

.companies .startups .narrow {
  position: absolute;
  display: none !important;
  bottom: 39%;
  right: 12%;
  width: 10%;
}

.companies .startups .start {
  width: 100%;
}

.companies .startups .start .flite {
  width: 100%;
  height: 5vh;
}

.companies .startups .start img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.companies .inter {
  display: none;
}

.companies .slider {
  width: 100%;
  margin: 100px 30px;
}

.companies .slick-slide {
  margin: 0px 0px;
}

.companies .slick-slide img {
  width: 100%;
  margin: auto 30px;
}

footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 10px;
}

footer .inter {
  position: relative;
  top: -17vh;
  width: 40%;
  left: 20%;
}

footer .foot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0px;
}

footer .foot h3 {
  color: white;
  font-family: "medium";
}

footer .foot a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: "regular";
  margin: 5px 0px;
  opacity: .8;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  margin: 10px auto;
  width: 80%;
  font-family: "regular";
}

footer span .footing {
  width: 1%;
  height: 25px;
  opacity: 1;
  margin: 5px 11px;
  background-color: white;
}

@media (min-width: 1024px) {
  header {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 12vh;
    background-color: #e1eff6;
    margin: 0;
    padding: 0px 30px;
    width: 100%;
  }
  header .logo {
    width: 10%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  header .logo img {
    width: 100%;
  }
  header .menu {
    width: 30%;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 4;
    cursor: pointer;
    position: relative;
  }
  header .menu .bar {
    width: 40%;
    height: 5px;
    right: 0%;
    background-color: cadetblue;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
  }
  header .menu .bar::before {
    content: '';
    width: 50%;
    height: 5px;
    background-color: cadetblue;
    position: absolute;
    top: 30%;
    right: 25%;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
  }
  header .menu .bar::after {
    content: '';
    width: 50%;
    height: 5px;
    background-color: cadetblue;
    position: absolute;
    bottom: 30%;
    right: 25%;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: fixed;
    width: 55%;
    list-style: none;
    margin: unset;
    position: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
  }
  header ul li {
    list-style: none;
    margin: 0px 10px;
  }
  header ul li a {
    text-decoration: none;
    color: black;
    font-family: "semibold";
    font-size: 20px;
    margin: 0px 15px;
  }
  header ul li .signup {
    background-color: white;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 20px;
    font-style: "monbold";
  }
  .banner {
    background-color: #e1eff6;
    height: 100vh;
    width: 100%;
  }
  .banner .banner-items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 120px;
  }
  .banner .banner-items .btext {
    width: 48%;
    padding: 30px;
    text-align: left;
  }
  .banner .banner-items .btext h1 {
    font-size: 59px;
    font-family: "monbold";
    text-align: left;
  }
  .banner .banner-items .btext .sign {
    width: 40%;
    text-decoration: none;
    font-size: 26px;
    font-family: "monbold";
    padding: 10px;
    border-radius: 8px;
    margin-left: 23px;
  }
  .banner .banner-items .btext .in {
    width: 50%;
    text-decoration: none;
    font-size: 26px;
    font-family: "monbold";
    padding: 10px 30px;
    border-radius: 8px;
    margin-left: 40px;
  }
  .banner .banner-items .bannerpic {
    width: 48%;
    position: relative;
  }
  .banner .banner-items .bannerpic img {
    width: 100%;
  }
  .banner .banner-items .bannerpic .txt {
    position: absolute;
    top: 69%;
    width: 48%;
    left: 55%;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 8px gray;
            box-shadow: 0px 3px 8px gray;
    padding: 0px 15px;
  }
  .banner .banner-items .bannerpic .txt h3 {
    font-family: "monbold";
    font-size: 32px;
    padding: 10px;
  }
  .banner .banner-items .bannerpic .txt p {
    font-size: 20px;
    font-family: "regular";
    padding: 5px 10px;
  }
  .banner .banner-items .bannerpic .txt p span {
    font-family: "monbold";
    display: inline;
    font-size: 20px;
  }
  .about {
    padding: 40px;
  }
  .about h2 {
    font-family: "regular";
    font-size: 51px;
    margin-bottom: 30px;
  }
  .about .abt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    padding: 70px;
  }
  .about .abt .meet {
    width: 35%;
    margin: auto 40px;
    background-color: white;
    -webkit-box-shadow: 2px 4px 6px black;
            box-shadow: 2px 4px 6px black;
    padding: 20px 10px;
    border-radius: 20px;
  }
  .about .abt .meet h4 {
    font-size: 25px;
    font-family: "monbold";
    margin: 10px auto;
  }
  .about .abt .meet #elly {
    position: relative;
    width: 100%;
    bottom: 54px;
    margin-bottom: -40px;
  }
  .about .abt .meet #found {
    position: relative;
    width: 100%;
    bottom: 54px;
    margin-bottom: -40px;
    -o-object-fit: contain;
       object-fit: contain;
    right: 0%;
  }
  .showcase {
    padding-top: 50px;
    overflow: hidden;
  }
  .showcase h2 {
    font-family: "regular";
    font-size: 45px;
    text-align: left;
    padding: 5vh 10vw;
  }
  .showcase .invent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: 8%;
  }
  .showcase .invent .alumni {
    position: relative;
  }
  .showcase .invent .alumni a {
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 34%;
    right: 5%;
    padding: 10px 20px;
    background-color: white;
    -webkit-box-shadow: 2px 4px 6px black;
            box-shadow: 2px 4px 6px black;
    font-family: "monbold";
    font-size: 21px;
    text-shadow: 1px 1px black;
  }
  .showcase .invent .alumni p {
    font-family: "regular";
    font-size: 21px;
    margin-top: 40px;
    text-align: left;
  }
  .showcase .invent .alumni p span {
    font-family: "monbold";
    font-size: 21px;
  }
  .showcase .invent .showcase .slick-next:before {
    color: black;
    display: none;
  }
  .showcase .slider {
    width: 100%;
    margin: 100px auto;
  }
  .showcase .slick-slide {
    margin: 0px 30px;
  }
  .showcase .slick-slide img {
    width: 100%;
  }
  .showcase .slick-prev:before,
  .showcase .slick-next:before {
    color: black;
  }
  .showcase .slick-slide {
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    opacity: 0;
  }
  .showcase .slick-active {
    opacity: 1;
  }
  .showcase .slick-current {
    opacity: 1;
  }
  .joinfounder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #e1eff6;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    padding: 0px 40px;
  }
  .joinfounder img {
    width: 48%;
  }
  .joinfounder .founder {
    width: 48%;
    text-align: left;
    padding-left: 60px;
  }
  .joinfounder .founder h3 {
    font-family: "semibold";
    font-size: 41px;
    padding: 15px;
  }
  .joinfounder .founder p {
    font-family: "light";
    font-size: 24px;
    padding: 0px 15px;
  }
  .joinfounder .founder a {
    text-decoration: none;
    font-family: "regular";
    font-size: 26px;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 10px 25px;
    margin-left: 20px;
  }
  .joininvestor {
    padding: 50px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  .joininvestor .jointext {
    width: 48%;
    padding-top: 20vh;
    margin: 50px auto;
  }
  .joininvestor .jointext h2 {
    font-family: "medium";
    font-size: 41px;
    padding: 0px 10px;
  }
  .joininvestor .jointext p {
    font-family: "light";
    font-size: 28px;
    padding: 0px 10px;
    margin: 20px 10px;
    text-align: left;
  }
  .joininvestor .jointext a {
    text-decoration: none;
    color: white;
    background-color: black;
    font-family: "regular";
    font-size: 26px;
    border-radius: 8px;
    padding: 10px 26px;
    margin-left: 19px;
  }
  .joininvestor .joinpic {
    width: 48%;
    margin-bottom: 20px;
  }
  .joininvestor .joinpic img {
    width: 100%;
  }
  .according {
    background-color: #e1eff6;
    padding: 30px;
  }
  .according .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding: 0px;
    margin: 80px 0px;
    overflow: hidden;
  }
  .according .row h2 {
    text-align: center;
    font-family: "monbold";
    font-size: 41px;
    margin: 30px;
  }
  .according .left {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .according .right {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .according .accordion {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .according .accordion li {
    list-style-type: none;
    width: 100%;
    margin: auto;
    padding: 0;
  }
  .according .accordion-button {
    position: relative;
    display: block;
    margin: 40px auto 0px;
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
    background: #e1eff6;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: pointer;
  }
  .according .accordion-button h3 {
    font-size: 23px;
    font-family: "semibold";
    color: black;
    margin: 10px;
  }
  .according .accordion-button hr {
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 1;
    margin: auto 3px;
  }
  .according .accordion-button p {
    font-family: "light";
    font-size: 25px;
  }
  .according .accordion-button:before {
    content: '';
    position: absolute;
    right: 3%;
    top: 45%;
    height: 2px;
    width: 20px;
    margin-left: 20px;
    background: black;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
  }
  .according .accordion-button:after {
    content: '';
    position: absolute;
    right: 3%;
    top: 45%;
    height: 3px;
    width: 20px;
    margin-left: 27px;
    background: black;
  }
  .according .accordion-button.active:after {
    background: black;
  }
  .according .accordion-button.active:before {
    -webkit-transform: rotate(-360deg) translateY(-20px);
            transform: rotate(-360deg) translateY(-20px);
    opacity: 0;
  }
  .according .accordion-button.active h2, .according .accordion-button:focus h2 {
    position: relative;
    color: black;
  }
  .according .accordion-panel {
    display: none;
    padding: 20px;
    background: #e1eff6;
    overflow: hidden;
  }
  .according .accordion-panel p {
    font-family: "light";
    font-size: 18px;
  }
  .according .accordion-panel img {
    display: block;
    max-width: 90%;
    margin: 5px auto;
  }
  .companies {
    padding: 80px 0px;
    background-color: #e1eff6;
    position: relative;
    text-align: center;
  }
  .companies .startups {
    background-color: white;
    border-radius: 20px;
    position: relative;
    padding: 60px 50px;
    margin-bottom: 60px;
  }
  .companies .startups .barrow {
    position: absolute;
    display: block !important;
    left: 3.5%;
    bottom: 35%;
    width: 5%;
  }
  .companies .startups .narrow {
    position: absolute;
    display: block !important;
    right: 4%;
    bottom: 35%;
    width: 5%;
    z-index: 4;
  }
  .companies .startups h2 {
    font-size: 30px;
    font-family: "regular";
    padding-bottom: 10px;
  }
  .companies .startups hr {
    background-color: black;
    opacity: 1;
    height: 2px;
    width: 90%;
    margin: 30px auto;
  }
  .companies .startups .start {
    width: 100%;
  }
  .companies .startups .start .flite {
    width: 100%;
  }
  .companies .startups .start img {
    height: 12vh;
    -o-object-fit: contain;
       object-fit: contain;
    margin: auto;
  }
  .companies .inter {
    position: absolute;
    display: block;
    bottom: -16vh;
    width: 65%;
    left: 14%;
  }
  .companies .slider {
    width: 100%;
    margin: 100px auto;
  }
  .companies .slick-slide {
    margin: 0px 20px;
  }
  .companies .slick-slide img {
    width: 100%;
  }
  .companies .slick-prev:before,
  .companies .slick-next:before {
    color: black;
  }
  .companies .slick-slide {
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    opacity: 0;
  }
  .companies .slick-active {
    opacity: 1;
  }
  .companies .slick-current {
    opacity: 1;
  }
  footer {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 70px 10px;
  }
  footer .foot {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 5px 0px 5px;
  }
  footer .foot h3 {
    color: white;
    font-family: "medium";
    font-size: 29px;
  }
  footer .foot a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: "light";
  }
  footer span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
    width: 100%;
    font-family: "light";
    margin: 40px auto;
  }
  footer span .footing {
    width: 2px;
    height: 25px;
    opacity: 1;
    margin: 5px 11px;
    background-color: white;
  }
}

@media (min-width: 569px) and (max-width: 768px) {
  header {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 12vh;
    background-color: #e1eff6;
    margin: 0;
    padding: 0px 30px;
    width: 100%;
  }
  header .logo {
    width: 10%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  header .logo img {
    width: 100%;
  }
  header .menu {
    width: 30%;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 4;
    cursor: pointer;
    position: relative;
  }
  header .menu .bar {
    width: 40%;
    height: 5px;
    right: 0%;
    background-color: cadetblue;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
  }
  header .menu .bar::before {
    content: '';
    width: 50%;
    height: 5px;
    background-color: cadetblue;
    position: absolute;
    top: 30%;
    right: 25%;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
  }
  header .menu .bar::after {
    content: '';
    width: 50%;
    height: 5px;
    background-color: cadetblue;
    position: absolute;
    bottom: 30%;
    right: 25%;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: fixed;
    width: 60%;
    list-style: none;
    margin: unset;
    position: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
  }
  header ul li {
    list-style: none;
    margin: 0px 5px;
  }
  header ul li a {
    text-decoration: none;
    color: black;
    font-family: "regular";
    font-size: 15px;
    margin: auto 3px;
  }
  header ul li .signup {
    background-color: white;
    border: 10px;
    font-size: 15px;
    padding: 5px;
  }
  .banner {
    background-color: #e1eff6;
    height: 40vh;
    width: 100%;
  }
  .banner .banner-items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 100px;
  }
  .banner .banner-items .btext {
    width: 48%;
    padding: 0px;
    text-align: left;
  }
  .banner .banner-items .btext h1 {
    font-size: 35px;
    font-family: "monbold";
  }
  .banner .banner-items .btext a {
    margin-top: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: "monbold";
    margin: auto 20px;
    padding: 5px;
  }
  .banner .banner-items .bannerpic {
    width: 48%;
    position: relative;
  }
  .banner .banner-items .bannerpic img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .banner .banner-items .bannerpic .txt {
    position: absolute;
    top: 69%;
    width: 56%;
    left: 37%;
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px;
    -webkit-box-shadow: 0px 3px 8px black solid;
            box-shadow: 0px 3px 8px black solid;
  }
  .banner .banner-items .bannerpic .txt h3 {
    font-family: "monbold";
  }
  .banner .banner-items .bannerpic .txt p {
    font-family: "regular";
    font-size: 15px;
    width: 100%;
  }
  .banner .banner-items .bannerpic .txt p span {
    font-family: "monbold";
  }
  .about {
    padding: 40px;
  }
  .about h2 {
    font-family: "regular";
    font-size: 35px;
  }
  .about .abt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    padding: 40px;
    width: 100%;
  }
  .about .abt .meet {
    width: 43%;
    margin: 20px auto;
    background-color: white;
    padding: 30px 30px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 4px 6px black;
            box-shadow: 2px 4px 6px black;
  }
  .about .abt .meet h4 {
    font-size: 22px;
    font-family: "monbold";
  }
  .about .abt .meet #elly {
    position: relative;
    width: 100%;
    bottom: 54px;
    margin-bottom: -48px;
  }
  .about .abt .meet #found {
    position: relative;
    width: 100%;
    bottom: 54px;
    margin-bottom: -54px;
    -o-object-fit: contain;
       object-fit: contain;
    right: 2%;
  }
  .showcase {
    padding-top: 70px;
    text-align: center;
  }
  .showcase h2 {
    font-family: "medium";
    font-size: 25px;
    text-align: left;
    padding-left: 56px;
    margin: 20px auto;
  }
  .showcase .invent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .showcase .invent .alumni {
    position: relative;
  }
  .showcase .invent .alumni a {
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 22%;
    right: 5%;
    padding: 10px;
    background-color: white;
    font-family: "monbold";
    font-size: 16px;
    text-shadow: px 1px black;
  }
  .showcase .invent .alumni p {
    font-family: "regular";
    font-size: 20px;
    text-align: left;
    margin-top: 25px;
  }
  .showcase .invent .alumni p span {
    font-family: "monbold";
    font-size: 20px;
  }
  .showcase .slider {
    width: 100%;
    margin: 100px auto;
  }
  .showcase .slick-slide {
    margin: 0px 10px;
  }
  .showcase .slick-slide img {
    width: 100%;
  }
  .showcase .slick-prev:before,
  .showcase .slick-next:before {
    color: black;
  }
  .showcase .slick-slide {
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    opacity: 0;
  }
  .showcase .slick-active {
    opacity: 1;
  }
  .showcase .slick-current {
    opacity: 1;
  }
  .joinfounder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #e1eff6;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
    text-align: left;
    padding: 30px;
  }
  .joinfounder img {
    width: 48%;
  }
  .joinfounder .founder {
    width: 48%;
    text-align: left;
    margin-left: 50px;
  }
  .joinfounder .founder h3 {
    font-family: "medium";
    font-size: 29px;
  }
  .joinfounder .founder p {
    font-family: "regular";
    font-size: 18px;
    margin-bottom: 23px;
  }
  .joinfounder .founder a {
    text-decoration: none;
    font-family: "regular";
    font-size: 18px;
    background-color: white;
    color: black;
    padding: 12px;
  }
  .joininvestor {
    padding: 50px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .joininvestor .jointext {
    width: 48%;
    margin: 20px 50px 20px 0px;
    text-align: left;
  }
  .joininvestor .jointext h2 {
    font-family: "medium";
    font-size: 25px;
    padding-left: 8px;
  }
  .joininvestor .jointext p {
    font-family: "regular";
    font-size: 18px;
    margin: 22px auto;
  }
  .joininvestor .jointext a {
    text-decoration: none;
    color: white;
    background-color: black;
    font-family: "regular";
    font-size: 16px;
    padding: 11px;
    margin-left: 0px;
  }
  .joininvestor .joinpic {
    width: 48%;
    margin-bottom: 20px;
  }
  .joininvestor .joinpic img {
    width: 100%;
  }
  .according {
    background-color: #e1eff6;
    padding: 20px 20px;
  }
  .according .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
  }
  .according .row h2 {
    text-align: center;
    font-family: "semibold";
    font-size: 20px;
    margin: 30px;
  }
  .according .left {
    -webkit-box-flex: 48%;
        -ms-flex: 48%;
            flex: 48%;
  }
  .according .right {
    -webkit-box-flex: 48%;
        -ms-flex: 48%;
            flex: 48%;
  }
  .according .accordion {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .according .accordion li {
    list-style-type: none;
    width: 100%;
    margin: auto;
    padding: 0;
  }
  .according .accordion-button {
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    border: none;
    padding: 0.5em;
    background: #e1eff6;
    cursor: pointer;
  }
  .according .accordion-button h3 {
    font-size: 12px;
    font-family: "monbold";
    color: black;
  }
  .according .accordion-button hr {
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 1;
    margin: auto 3px;
  }
  .according .accordion-button p {
    font-family: "light";
    font-size: 25px;
  }
  .according .accordion-button:before {
    content: '';
    position: absolute;
    right: 0;
    top: 42%;
    height: 2px;
    width: 20px;
    margin-left: 0px;
    background: black;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
  }
  .according .accordion-button:after {
    content: '';
    position: absolute;
    right: 0;
    top: 42%;
    height: 2px;
    width: 20px;
    margin-left: 5px;
    background: black;
  }
  .according .accordion-button.active:after {
    background: black;
  }
  .according .accordion-button.active:before {
    -webkit-transform: rotate(-360deg) translateY(-20px);
            transform: rotate(-360deg) translateY(-20px);
    opacity: 0;
  }
  .according .accordion-button.active h2, .according .accordion-button:focus h2 {
    position: relative;
    color: black;
  }
  .according .accordion-panel {
    display: none;
    padding: 10px;
    background: #e1eff6;
    border-right: 1px solid #e1eff6;
    border-bottom: 1px solid #e1eff6;
    border-left: 1px solid #e1eff6;
    overflow: hidden;
  }
  .according .accordion-panel img {
    display: block;
    max-width: 90%;
    margin: 5px auto;
  }
  .companies {
    padding: 60px;
    background-color: #e1eff6;
    text-align: center;
  }
  .companies .startups {
    background-color: white;
    width: 100%;
    padding: 40px 60px;
    position: relative;
  }
  .companies .startups .barrow {
    position: absolute;
    display: block !important;
    left: 0%;
    top: 43%;
    width: 8%;
  }
  .companies .startups .narrow {
    position: absolute;
    display: block !important;
    right: 0%;
    top: 45%;
    width: 8%;
    z-index: 4;
  }
  .companies .startups h2 {
    font-size: 30px;
    font-family: "regular";
    padding-top: 0px;
  }
  .companies .startups hr {
    background-color: black;
    opacity: 1;
    height: 2px;
    width: 70%;
    margin: 20px auto;
  }
  .companies .startups .start {
    width: 100%;
  }
  .companies .startups .start img {
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
    height: 7vh;
  }
  .companies .slider {
    width: 100%;
    margin: 100px auto;
  }
  .companies .slick-slide {
    margin: 0px 0px;
  }
  .companies .slick-slide img {
    width: 100%;
  }
  .companies .inter {
    position: absolute;
    display: block;
    bottom: -7vh;
    width: 70%;
    left: 15%;
  }
  footer {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 10px;
  }
  footer .foot {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 5px 0px 5px;
  }
  footer .foot h3 {
    color: white;
    font-family: "medium";
    font-size: 20px;
  }
  footer .foot a {
    text-decoration: none;
    color: white;
    margin: 0px;
  }
  footer span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    width: 100%;
    font-family: "regular";
    margin: 20px auto;
  }
  footer span .footing {
    width: 2px;
    height: 25px;
    opacity: 1;
    margin: 5px 11px;
    background-color: white;
  }
}
/*# sourceMappingURL=style.css.map */